<div class="container">
  <h2>Restaurants in <%= @city.name %> </h2>

  <% @city.restaurants.order(:name).each do |restaurant| %>
    <h4><a href="/cities/<%= @city.id %>/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></h4>
  <% end %>
</div>
